/* Breakpoint values */
$breakpoints: (
  "medium": 48em, // 768px
  "large": 69.375em // 1110px
);

/* Colors */
$color-dark-blue: #121726;
$color-grayish-blue: #2b334a;
$color-grayish-blue-lighter: #5b678b;
$color-primary: #56e6af;
$color-background: $color-dark-blue;
$color-background-overlay: #121726;
$color-error: #fb3e3e;
$color-white: #ffffff;
$color-text: #c2cbe5;
